---
import "../stylesheets/common.css";
export interface Props {
	class?: string;
	id?: string;
	title?: string;
	description?: string;
	noindex?: boolean;
	theme?: "light" | "dark";
}
const {
	class: className = "",
	id,
	title = "Vote! Potomac",
	description = "Vote! Potomac is the SGA suggestion box of the The Potomac school in McLean, VA",
	noindex = false,
	theme,
} = Astro.props;
---

<html lang="en" data-theme={theme}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="og:description" content={description} />
		{noindex ? <meta name="robots" content="noindex, nofollow" /> : ""}
		<title>{title}</title>
	</head>
	<body class={`min-h-screen flex flex-col`} {id}>
		<div class={`h-max ${className}`}><slot /></div>

		<div class="w-full mt-auto p-3">
			<div class="flex gap-3">
				<img
					src="/potomac.svg"
					class="aspect-square h-12 rounded-full bg-secondary"
				/>
				<div>
					<div class="font-semibold">Vote! Potomac</div>
					<div>Potomac's Upper School Student Suggestion Box</div>
				</div>
			</div><div class="text-sm">
				<a class="underline" href="/">Home</a> - <a
					class="underline"
					href="/food">Food</a
				> - <a class="underline" href="/settings">Settings</a>
			</div>
			<div class="text-sm">
				Created by <a href="https://asyncbanana.dev" class="underline"
					>Jacob Jackson</a
				>
			</div>
			<div class="text-sm">
				Licensed under GPLv3 - <a
					href="https://github.com/AsyncBanana/vote-Potomac"
					class="underline">Source code</a
				>
			</div>
			<a class="text-sm underline" href="https://www.potomacschool.org/">
				The Potomac School</a
			>
		</div>
	</body>
	<script src="../modules/pageview.ts"></script>
</html>
