---
import Button from "../../components/Button.svelte";
import Card from "../../components/Card.svelte";
import AppLayout from "../../layouts/AppLayout.astro";
import { SuggestionQueue } from "../../schemas/suggestion";
const res = await Astro.locals.handle({
	minimumRole: 10,
});
if (res.type === "error") return res.data;
const suggestions = await Astro.locals.db
	.select()
	.from(SuggestionQueue)
	.limit(20)
	.all();
export const prerender = false;
---

<AppLayout {...res.data} class="w-main">
	<h1 class="font-medium text-3xl">Admin Dashboard</h1>
	{
		suggestions.length > 0 ? (
			suggestions.map((suggestion) => (
				<Card
					title={suggestion.title}
					set:html={suggestion.description}
					id={`suggestion-${suggestion.id}`}
				>
					<Button
						slot="actions"
						type="Borderless"
						class="text-green-400 bg-base-300 approveButton"
						icon="i-ic:round-check"
						id={`approve-${suggestion.id}`}
					/>
					<Button
						slot="actions"
						type="Borderless"
						class="text-red-400 bg-base-300 rejectButton"
						icon="i-ic:round-close"
						id={`reject-${suggestion.id}`}
					/>
				</Card>
			))
		) : (
			<p>No suggestions to moderate right now :{")"}</p>
		)
	}
</AppLayout>
<script>
	for (const el of document.querySelectorAll(
		".approveButton,.rejectButton",
	) as NodeListOf<HTMLButtonElement>) {
		const type = el.id.split("-")[0];
		const id = el.id.split("-")[1];
		el.addEventListener("click", async () => {
			await fetch(`/api/moderation/${type}`, {
				method: "POST",
				body: id,
			});
			document.getElementById(`suggestion-${id}`)?.remove();
		});
	}
</script>
